[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:josephkan2005/nvim-config.git

[submodule "personal"]
	path = personal
	url = git@github.com:josephkan2005/personal.git
